@import 'variables';
@import '/node_modules/bootstrap/scss/bootstrap';
@import 'material';

body{
    min-width: 350px;
}

a,
button {
    border: 0;
    background: inherit;
    text-decoration: none;
    &:focus{
        outline: inherit;
    }
}
button{
    & .material-icons{
        vertical-align:middle;
  }
}

textarea{
    min-height: 150px;
    max-height: 200px;
}

.status-tag{
    font-size: 1.2em;
}


@media print {
    .no-print{
        display: none!important;
    }
    *{
        -webkit-print-color-adjust: exact!important; 
    }
}
