@import './variables.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import './material.scss';

body{
    min-width: 350px;
}

a,
button {
    border: 0;
    background: inherit;
    text-decoration: none;
    &:focus{
        outline: inherit;
    }
}
button{
    & .material-icons{
        vertical-align:middle;
  }
}

textarea{
    min-height: 150px;
    max-height: 200px;
}
