$body-bg: #ffffff;
$body-color: #1d1d1d;
$theme-colors: (
  "primary": rgb(82, 81, 81),
  "danger": #bd312a
);
$grid-columns:      12;
$grid-gutter-width: 20px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
